.queriesDiv{
    position: absolute;
  left: calc((100vw*50)/100);
  top: calc((100vh*20)/100);
  width: 300px;
  height: 320px;
  border: 0px solid black;
  padding: 10px;
  background-color: #398AB9;
   border-radius: 8px;
}

.queriesTable {
  font-family: Roboto;
  border-collapse: collapse;
  width: 100%;
}

.queriesTable td, .queriesTable th {
  /* border: 2px solid black; */
  border-top: 2px solid black;
  padding: 8px;
}

.queriesTable td{
  font-size: 1.2rem;
}
.queriesTable th{
  font-size: 1.3rem;
  background-color: rgb(172, 130, 130);
}

.queriesTable tr:hover {background-color: rgba(202, 171, 171, 0.466);}

.queriesTable th {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  color: black;
  
}

.white{
  color: white;
  font-weight: 600;
  border-right: 2px solid black;
}
.bs{
  border-right: 2px solid black;
}
.str{
  font-weight: 600;
}
